.resume-icon {
  height: 150px;
  width: 100%;
  float:right;
  display: inline-block;
  background-color: #555;
}




.resume-content {
    margin: 4% 0 4% 0;
}

.menu-toggle {
  z-index: 1;
}

.resume-icon-img {
  display: block;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  height: 111px;
}

.proud-project-img {
  width: 100%;
  padding-bottom: 15px;
}

.news_div {
margin-top: 5px;
}

.news_banner img {
  display: inline-block;
  width: 18.5%;
}

@media(max-width: 909px) {
  .content-area{
    width: 75%;
  }
  .news_banner img {
    padding-top: 45px;
    margin-left: 20%;
    width: 55%;
    float: left;
    clear: both;
  }

  .news_banner {
    clear: both;
    display: inline-block;
  }

}


@media(min-width: 990px){
  .news_banner img {
  margin: 3% 0 3% 0;
}

#masthead {
  padding-bottom: 0px;
}

.news_div {
  margin-left: 65px;

}

    .container{
    padding-right: 120px !important;
    }
}


@media(min-width: 650px){
  .header-image {
      margin: 8% 0 8% 0;
      width: 50%;
      margin-right: auto;
       margin-left: auto;
       transform: scale(1.3);
  }
}


@media(min-width: 900px) {
  .site-header-menu {
    position: fixed;
    right: 5%;
    z-index:10;
  }
  .site-header{
    padding-bottom: 2.rem;
    }

.header-image {
    margin: 8% 0 8% 0;
    width: 50%;
    margin-right: auto;
     margin-left: auto;
     transform: scale(0.80);
}

.file_image {
  width: 30%;
  margin-right: 100px;
  margin-bottom: 75px;
  display: inline-block;
  float: left;
}

}
body p, h1, h2, h3, h4, h5 {
      font-family: Merriweather, Georgia, serif; !important
}


.menu-toggle:hover, .menu-toggle:focus, a, .main-navigation a:hover, .main-navigation a:focus, .dropdown-toggle:hover, .dropdown-toggle:focus, .social-navigation a:hover:before, .social-navigation a:focus:before, .post-navigation a:hover .post-title, .post-navigation a:focus .post-title, .tagcloud a:hover, .tagcloud a:focus,
.site-branding .site-title a:hover, .site-branding .site-title a:focus, .entry-title a:hover, .entry-title a:focus, .entry-footer a:hover, .entry-footer a:focus,
.comment-metadata a:hover, .comment-metadata a:focus, .pingback .comment-edit-link:hover, .pingback .comment-edit-link:focus, .comment-reply-link, .comment-reply-link:hover, .comment-reply-link:focus, .required, .site-info a:hover, .site-info a:focus {
   color: #29aa7b !important;
}

.main-navigation a {
    color: #1a1a1a !important;
  }
.project_image {
  width: 100%;
  padding-bottom: 15px;
}

.project-title {
  padding-top: 20px;
}
