.resume-icon {
  height: 150px;
  width: 100%;
  float:right;
  display: inline-block;
  background-color: #555;
}
.site-content {
  margin-bottom: 1.5em;
}

/* This is added so that the upper navbar in mobile sites doesn't
appear lower; it instead appears at the top of the page.  */
.site-inner {
  position: static;
}
]

h1 {
  font-family: inherit;
  font-weight: 900;
}

.menu-toggle {
  background-color: #000000;
  color: #FFFFFF;
}

.primary-footer-menu a p {
  color: #000000;
}
.primary-footer-menu {
  background-color: #FFFFFF;
}

#site-navigation {
  background-color: #000000;
}

#site-navigation a {
  color: #FFFFFF ;
}

.menu-toggle {
  background-color: #000000;
}

table.upcoming-appearances-table  {
  border-collapse: separate;
}

.resume-content {
    margin: 4% 0 4% 0;
}

.menu-toggle {
  z-index: 1;
}

.resume-icon-img {
  display: block;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  height: 111px;
}

.proud-project-img {
  width: 100%;
  padding-bottom: 15px;
}

.news_div {
margin-top: 5px;
}

.news_banner img {
  display: inline-block;
  width: 18.5%;
}

@media(max-width: 909px) {
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: #000000;
    color: #FFFFFF;
  }

  .main-navigation a:hover {
    color: #29aa7b !important;
  }

  .menu-toggle.toggled-on, .menu-toggle.toggled-on:hover,
  .menu-toggle.toggled-on:focus {
    color: #29aa7b;
  }


  .content-area{
    width: 93%;
    margin-left: -13%;
  }

/* Added so that the banner on the homepage appears
correctly in mobile */
  .homepage-area{
    margin-left: -11%;
  }

  .news_banner img {
    padding-top: 45px;
    margin-left: 13%;
    width: 75%;
    float: left;
    clear: both;
  }

  .homepageimage {
    padding: 0 0 20px 12%;
  }


  .main-navigation li {
    padding-left: 25px;
  }
  .news_div {
    padding-bottom: 15%;
  }

  .news_banner {
    clear: both;
    display: inline-block;
  }

/* This set of rules exists to make mobile text
appear center justified */
  p {
    text-align: center;
  }

  .entry-content {
    margin: 0 -8% 0 18%;
    padding-left: 5%;
    padding-right: 0px;
  }

  .entry-content > :last-child   {
    margin-left: 20%;
  }

  .entry-content:first-of-type  > :last-child {
    margin-left: 0%;
  }

  .news-banner > :last-child  {
    margin-left: 13% !important;
  }

}

@media(min-width: 990px){
  .news_banner img {
  margin: 3% 0 3% 1%;
  }

  #masthead {
    padding-bottom: 0px;
  }


    .container {
    padding-right: 120px !important;
    }
}

@media(min-width: 1025px){
.news_banner img {
margin: 3% 0 3% 1.2%;
}
}


@media(max-width: 325px) {
  /*added for iphone 5s compatibility, resume link on last item of homepage */
  .entry-content > :last-child {
    margin-left: 20%;
  }
  .homepageimage {
    padding: 0 0 20px 0;
  }

.entry-content:first-of-type  > :last-child {
  margin-left: 0%;
}


  }

@media(min-width: 650px) {
  .header-image {
      margin: 8% 0 8% 0;
      width: 50%;
      margin-right: auto;
       margin-left: auto;
       transform: scale(1.3);
  }
}

@media(min-width: 900px){
  .site-header-menu {
    position: fixed;
    right: 5%;
    z-index:10;
  }
  .site-header{
    padding-bottom: 2.rem;
    }

    .homepageimage {
      width: 80%;
      float: right;
    }

  .header-image {
      margin: 8% 0 8% 0;
      width: 50%;
      margin-right: auto;
       margin-left: auto;
       transform: scale(0.80);
  }

  .file_image {
    width: 30%;
    margin-right: 100px;
    margin-bottom: 75px;
    display: inline-block;
    float: left;
  }

}
body p, h1, h2, h3, h4, h5 {
        font-family: Merriweather, Georgia, serif !important;
}
h1 {
  font-weight: 900 !important ;
}


.project_image {
  width: 100%;
  padding-bottom: 15px;
}

.project-title {
  padding-top: 20px;
}
